<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ currentCategoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <p>PRODUCT LIST</p>
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
                        </a>

                        <p>{{ product.name }}</p>
                        <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>

                    <!-- if dosent contain a list -->
                    <div class="alert alert-warning col-md-12" *ngIf="products?.length == 0" >
                        No products found.
                    </div>
                </div>
            </div>
        </div>
    
    </div>


</div>